@model TL_LMS.Models.Registration

@{
 //   Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Registration</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.reg_date)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.reg_date)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.reg_fee)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.reg_fee)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Cours.course_title)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Cours.course_title)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Student.student_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Student.student_name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Teacher.instructor_name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Teacher.instructor_name)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.reg_id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
